# Environments
.venv
localenv
env/
venv/
ENV/
.vscode/
.env.preproduction
.env

# Media Server
infrastructure/media-server/www/data
infrastructure/media-server/www/images
infrastructure/media-server/www/videos

